doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet" href="/stylesheets/main.css")
  body
    .luckdraw
      .luckpanel
        canvas#canvas
        .prize
      .pointer
    p.rest 剩余次数:#{info.times}
    //- script(src="/javascripts/const.js")
    script(src="/javascripts/jquery-3.5.1.min.js")
    script. 
      consts = !{JSON.stringify(pplist)};
      info = !{JSON.stringify(info)};    
    script(src="/javascripts/main.js")
    