extends layout

block content
  h1 #{title}
  form(method='post' enctype="multipart/form-data" action='')
    div.form-group
      label(for='name') Prize name:
      input#name.form-control(type='text' placeholder='iphone, ipad etc.' name='name' required='true')
    div.form-group
      label(for='picture') Picture:
      input#picture.form-control(type='file' name='picture' placeholder='select img' multiple="multiple")
    button.btn.btn-primary(type='submit') Submit
  