doctype html
html(lang="zh-CN")
  head
    meta(charset="utf-8")
    title 抽奖系统
    link(href="../../stylesheets/login.css" rel="stylesheet")
  body
    header
    nav
    main
      form(method="post" action="")
        div
          label(for="userID") 用户ID：
          input#password(type="text" name="userID")
        div
          button(type="submit") 登陆
      aside
    footer